@using global::ApexCharts

@if (_datasets.Count == 0)
{
	<div class="alert alert-warning">No dataset provided.</div>
}
else
{
	<ApexChart TItem="object[]"
	           Title="@Data.ChartDescription"
	           Options="_options">

		@foreach (var ds in _datasets)
		{
			if (_useTemporal)
			{
				<ApexPointSeries TItem="object[]"
				                 Name="@ds.Dataset.Label"
				                 Items="@ds.Dataset.Rows"
				                 SeriesType="SeriesType.Line"
				                 XValue="@(row => Convert.ToDateTime(row[ds.LabelIndex]))"
				                 YValue="@(row => Convert.ToDecimal(row[ds.ValueIndex]))"
				/>
			}
			else if (_useNumeric)
			{
				<ApexPointSeries TItem="object[]"
				                 Name="@ds.Dataset.Label"
				                 Items="@ds.Dataset.Rows"
				                 SeriesType="SeriesType.Line"
				                 XValue="@(row => Convert.ToDecimal(row[ds.LabelIndex]))"
				                 YValue="@(row => Convert.ToDecimal(row[ds.ValueIndex]))"
				/>
			}
			else
			{
				<ApexPointSeries TItem="object[]"
				                 Name="@ds.Dataset.Label"
				                 Items="@ds.Dataset.Rows"
				                 SeriesType="SeriesType.Line"
				                 XValue="@(row => row[ds.LabelIndex].ToString())"
				                 YValue="@(row => Convert.ToDecimal(row[ds.ValueIndex]))"
				/>
			}
		}

	</ApexChart>
}

@code {

	[Parameter, EditorRequired] public PlotData Data { get; set; } = null!;
	[Parameter] public ApexLineChartSettings Settings { get; set; } = new();

	private ApexChartOptions<object[]> _options = new();
	private readonly List<LineDatasetInfo> _datasets = new();

	private bool _useTemporal;
	private bool _useNumeric;

	protected override void OnParametersSet()
	{
		SetupDatasets();

		_options = Settings.ApexChartOptions ?? new ApexChartOptions<object[]>
		{
			Chart = new Chart
			{
				Type = ChartType.Line,
				Height = Settings.Height,
				Toolbar = new Toolbar { Show = true },
			},
			DataLabels = new DataLabels
			{
				Enabled = false,
			}
		};

		var allTemporal = _datasets.All(d => d.XAxisType == XAxisType.Datetime);
		var allNumeric = _datasets.All(d => d.XAxisType == XAxisType.Numeric);

		_options.Xaxis = new XAxis
		{
			Type = allTemporal ? XAxisType.Datetime : (allNumeric ? XAxisType.Numeric : XAxisType.Category),
		};

		_useTemporal = allTemporal;
		_useNumeric = allNumeric;
	}

	private void SetupDatasets()
	{
		_datasets.Clear();

		foreach (var dataset in Data.Datasets)
		{
			var label = dataset.FirstTemporal();

			var xAxisType = label != null ? XAxisType.Datetime : XAxisType.Category;

			var categorical = dataset.FirstCategorical();

			if (label == null)
			{
				var numeric = dataset.AllNumeric().ToArray();

				if (numeric.Length >= 2 && categorical == null)
				{
					_datasets.Add(new LineDatasetInfo
					{
						Dataset = dataset,
						LabelIndex = numeric[0].Index,
						ValueIndex = numeric[1].Index,
						XAxisType = XAxisType.Numeric,
					});

					continue;
				}
			}

			label ??= categorical;

			var value = dataset.FirstNumeric();

			if (label == null || value == null)
			{
				continue;
			}

			_datasets.Add(new LineDatasetInfo
			{
				Dataset = dataset,
				LabelIndex = label.Value.Index,
				ValueIndex = value.Value.Index,
				XAxisType = xAxisType,
			});
		}
	}

	private class LineDatasetInfo
	{
		public PlotDataset Dataset { get; init; } = null!;
		public required int LabelIndex { get; init; }
		public required int ValueIndex { get; init; }
		public required XAxisType XAxisType { get; init; }
	}

}