@using global::ApexCharts

@if (_datasets.Count == 0)
{
	<div class="alert alert-warning">No dataset provided.</div>
}
else
{
	var ds = _datasets.First();

	<ApexChart TItem="object[]"
	           Title="@Data.ChartDescription"
	           Options="_options">

		<ApexPointSeries TItem="object[]"
		                 Name="@ds.Dataset.Label"
		                 Items="@ds.Dataset.Rows"
		                 SeriesType="SeriesType.Pie"
		                 XValue="@(row => row[ds.LabelIndex].ToString())"
		                 YAggregate="@(rows => rows.Sum(row => Convert.ToDecimal(row[ds.ValueIndex])))"
		                 OrderByDescending="e=>e.Y"
		/>

	</ApexChart>
}

@code {

	[Parameter, EditorRequired] public PlotData Data { get; set; } = null!;
	[Parameter] public ApexPieChartSettings Settings { get; set; } = new();

	private ApexChartOptions<object[]> _options = new();
	private readonly List<PieDatasetInfo> _datasets = new();

	protected override void OnParametersSet()
	{
		SetupDatasets();

		_options = Settings.ApexChartOptions ?? new ApexChartOptions<object[]>
		{
			Chart = new Chart
			{
				Type = ChartType.Pie,
				Height = Settings.Height,
				Toolbar = new Toolbar { Show = true },
			},
			Legend = new Legend
			{
				Show = Settings.ShowLegend
			},
			DataLabels = new DataLabels
			{
				Enabled = Settings.ShowDataLabels
			}
		};
	}

	private void SetupDatasets()
	{
		_datasets.Clear();

		foreach (var dataset in Data.Datasets)
		{
			var labelField = dataset.FirstCategorical();
			var valueField = dataset.FirstNumeric();

			if (labelField == null || valueField == null)
			{
				continue;
			}

			_datasets.Add(new PieDatasetInfo
			{
				Dataset = dataset,
				LabelIndex = labelField.Value.Index,
				ValueIndex = valueField.Value.Index,
			});

			return;
		}
	}

	private class PieDatasetInfo
	{
		public PlotDataset Dataset { get; init; } = null!;
		public required int LabelIndex { get; init; }
		public required int ValueIndex { get; init; }
	}

}