@using global::ApexCharts

@if (Data.Datasets.Length == 0)
{
	<div class="alert alert-warning">No dataset provided.</div>
}
else
{
	<ApexChart TItem="object[]"
	           Title="@Data.ChartDescription"
	           Options="_options">

		@foreach (var ds in _datasets)
		{
			<ApexPointSeries TItem="object[]"
			                 Name="@ds.Dataset.Label"
			                 Items="@ds.Dataset.Rows"
			                 SeriesType="SeriesType.Bar"
			                 XValue="@(row => row[ds.LabelIndex]?.ToString() ?? string.Empty)"
			                 YValue="@(row => Convert.ToDecimal(row[ds.ValueIndex]))"/>
		}

	</ApexChart>
}

@code {

	[Parameter, EditorRequired] public PlotData Data { get; set; } = null!;
	[Parameter] public ApexBarChartSettings Settings { get; set; } = new();

	private ApexChartOptions<object[]> _options = new();
	private readonly List<BarDatasetInfo> _datasets = new();

	protected override void OnParametersSet()
	{
		SetupDatasets();

		_options = Settings.ApexChartOptions ?? new ApexChartOptions<object[]>
		{
			Chart = new Chart
			{
				Type = ChartType.Bar,
				Height = Settings.Height,
				Toolbar = new Toolbar { Show = true },
			},
			PlotOptions = new PlotOptions
			{
				Bar = new PlotOptionsBar
				{
					Horizontal = Settings.Horizontal,
					ColumnWidth = Settings.ColumnWidth,
					BorderRadius = Settings.BorderRadius,
				}
			},
			DataLabels = new DataLabels
			{
				Enabled = false,
			}
		};
	}

	private void SetupDatasets()
	{
		_datasets.Clear();

		foreach (var dataset in Data.Datasets)
		{
			var labelIndex = dataset.IndexOf(PlotFields.Label);
			var valueIndex = dataset.IndexOf(PlotFields.Value);

			if (labelIndex == null || valueIndex == null)
			{
				labelIndex = dataset.FirstCategoricalIndex();
				valueIndex = dataset.FirstNumericIndex();
			}

			if (labelIndex == null || valueIndex == null)
			{
				continue;
			}

			_datasets.Add(new BarDatasetInfo
			{
				Dataset = dataset,
				LabelIndex = labelIndex.Value,
				ValueIndex = valueIndex.Value,
			});
		}
	}

	private class BarDatasetInfo
	{
		public PlotDataset Dataset { get; init; } = null!;
		public required int LabelIndex { get; init; }
		public required int ValueIndex { get; init; }
	}
}